.sidebar,
.content,
.footer
{
	border: 2px solid white;
	background-color: white;
}

.all{
	background-color: white;
	border-left: 2px solid black;
	border-right: 2px solid black;
}

.content>div{
	min-height: 280px; 
	border: 2px solid white;
	border-radius: 15px;
	background-color: rgba(169, 169, 169, 0.493);
	border: 20px;
	transition: all 0.25s ease-out;
	position: relative;
	top: 0px;
	left: 0px;
}

.content>div:hover{
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
	border-radius: 20px;
	top:-3px;
	left:-3px;
}
/* .content>div:hover img{ 
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
*/
.content{
	text-align: center;
	height: 1500px;
	margin:15px 15px 15px calc(20% + 15px);
}

body{
	background-color: #ffc50029; 
	margin: 0 10% 0 10%;
	}

img{
	height: 210px;
	float: left;
	border-radius: 6px;
	margin: 7px;
	transition: all 0.25s ease-out; 
	position: relative;
	top: 0px;
	left: 0px;
}

img:hover{
	border-radius: 15px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
	top:-3px;
	left:-3px;
}

.content p{
	margin-left: 340px;
	transition: all 0.25s ease-out; 
	position: relative;
	top: 0px;
	left: 0px;
}

.content p:hover{
	text-shadow: 4px 4px 7px rgba(7, 7, 7, 0.52);
	top:-3px;
	left:-3px;
}

.sidebar {
	float: left;
	width: calc(20% - 2px);
}

.header{
	z-index: 1;
	background-color: white;
	margin: 0 auto;
	width: 780px;
	height: 5%;
	font-size: 25pt;
	text-align: center;
}

