.section-header,
table{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;    
}

body{
    margin: 5vh calc(50% - 125px);
}

.section-header{
    border-radius: 10px 10px 0 0;
    background-color: darkgray;
    border-bottom: 2px dotted black;
}

table{
    border-radius: 0 0 10px 10px;
    width: 100%;    
    padding: 8px;
    border-spacing: 7px;
}

section{
    margin: 15px;
    width: 250px;
    border: 2px solid black;
    border-radius: 12px;
    text-align: center;
    align-items: center;
    background-color: bisque;
    -webkit-box-shadow: 13px 13px 13px 2px rgba(0,0,0,0.35);
    -moz-box-shadow: 13px 13px 13px 2px rgba(0,0,0,0.35);
    box-shadow: 13px 13px 13px 2px rgba(0,0,0,0.35);
}

.first-line{
    border: 2px solid rgb(10, 137, 187);
    padding: 0;
    border-radius: 8px;  
}

.other-line{
    padding-top: 0;
}

td{
    width: 50px;
    border: 1px solid black;
    border-radius: 4px;
    transition: all 0.25s ease-out;
    -webkit-box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.35);
    box-shadow: 4px 4px 3px 0px rgba(0,0,0,0.35);
	position: relative;
	top: 0px;
	left: 0px;
}

td:hover{
    -webkit-box-shadow: 8px 8px 6px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 8px 8px 6px 4px rgba(0,0,0,0.2);
    box-shadow: 8px 8px 6px 4px rgba(0,0,0,0.2);
    top: -3px;
    left: -3px;
    background-color: gainsboro;
}

.forms{
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: right;
}

input,
textarea,
select,
button{
    margin: 5px;
}

input[type=text],
input[type=password]{
    width: 110px;
}

textarea{
    width: 90%;    
}

label span::before{
    content: " ";    
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 2px solid gray;
}

label:hover span::before{
    border-color:lightgray;
}

input:checked + span::before{
    content:"X";
}

input[name="checkbox-span"]{
    display: none;
}